.bike__list {
  padding: 0;
  margin: 25px 0 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 670px) {
  .bike__list {
    flex-wrap: wrap;
  }
}
