.form__label-box {
  display: flex;
  gap: 23px;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .form__label-box {
    margin-bottom: 300px;
  }
}

@media (max-width: 460px) {
  .form__label-box {
    margin-bottom: 200px;
  }
}