.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .header__inner {
    display: block;
    text-align: center;
  }
}