.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 28px 81px;
  background-color: #131313;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  direction: rtl;
  text-indent: -1.1em;
  cursor: pointer;
}