.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 28px 81px;
  background-color: #131313;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  direction: rtl;
  text-indent: -1.1em;
  cursor: pointer;
  border: none;
  transition: all .3s;
}

.button:hover {
  background-color: #FF4040;
}

@media screen and (max-width: 460px) {
  .button {
    font-size: 16px;
    padding: 15px;
    letter-spacing: .9em;
    text-indent: -.9em;
  }
}
