.menu {
  margin-right: 71px;
}

@media screen and (max-width: 991px) {
  .menu {
    margin-right: 0;
  }
}

@media screen and (max-width: 640px) {
  .menu {
    margin-top: 50px;
  }
}

@media screen and (max-width: 350px) {
  .menu {
    margin-top: 30px;
  }
}